<div class="weatherContainer">
  <div id="myModal" class="modal fade in weatherModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Weather Forecast</h4>
                <a href="#">x</a>
            </div>
            <div class="modal-body">
                <h5>Select City</h5>
                <div class="cityDropdown">
                  <select #city class="minimal" (change)="selectedCityValue(city.value)">
                    <option *ngFor="let list of cityList">{{list}}</option>
                  </select>
                </div>
                <div *ngIf="showLoader">
                  <app-spinner></app-spinner>
                </div>
                <div *ngIf="!showLoader">
                  <div class="weatherDetailsWrap" *ngIf="!displayErrMsg">
                      <div class="weatherInnerCont" *ngFor="let data of result">
                          <div>
                            <h6>{{data.datetime | customDate}}</h6>
                            <img src="./assets/images/{{data.weather.icon}}.png" />
                            <p>{{data.temp.toFixed()}}&#8451;</p>
                          </div>
                      </div>
                  </div>
                  <div *ngIf="displayErrMsg" class="errorMsgDiv">
                    <p class="text-danger">Something went wrong. Please try again later.</p>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-apply">Apply</button>
            </div>
        </div>
    </div>
</div>
</div>
